@media screen and (min-width: 800px) {    
    .main {
        order:5;
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (min-width: 800px) {
    .visible {
        visibility: visible;
    }
    
    .hidden {
        display: block;
        visibility: hidden;
    }

    .notDisplayed {
        display: none;
    }
}