.main {
    padding: 1rem;
    background-color: white;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expandedFilterItem {
    border-right: 0;
}

@media screen and (min-width: 800px) {
    .main {
        padding: 0;
    }    

    .expandedFilterItem {
        border-right: 1px solid lightgrey;
    }

    .containerActive {
        padding: 1rem;
        border: 1px solid var(--grey20);
        border-radius: 1rem;
    }

    .container {
        border: 1px solid white;
        border-radius: 1rem;
        padding: 1rem;
    }

}