.main {
    user-select: none;
    padding: 1rem;
}

@media screen and (min-width: 800px) {    
    .main {
        order:5;
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (min-width: 800px) {
    .hidden {
        display: block;
        visibility: hidden;
    }

    .notExpanded {
        display: none;
    }
}

.counter {
    padding: 2rem 0;
}

.label {
    font-weight: 700;
    color: var(--grey20);
}

.ages {
    color: var(--grey74);
}

.values {
    margin-top: 1rem;
}

.count {
    margin: 0 1.5rem;
    font-weight: 700;
}

.button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--grey51);
    color: var(--grey51);
}