@media screen and (min-width: 800px) {   
    .main {
        order: 4;
    }
}

.visible {
    display: block;
    padding: 0.84rem 0;
}

.hidden {
    display: none;
}

@media screen and (min-width: 800px) {
    .hidden {
        display: block;
        visibility: hidden;
    }

    .notExpanded {
        display: none;
    }
}

.locations {
    padding: 1rem;
    color: var(--grey31);
}

.locationItem {
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0;
}