.notDisplayed {
    display: none;
}

.displayed {
    display: block;
}

@media screen and (min-width: 800px) {
    .visible {
        visibility: visible;
    }
    .hidden {
        visibility: hidden;
    }
}