.main {
    padding: 1rem;
    background-color: white;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expandedFilterItem {
    border-bottom: 1px solid lightgrey;
    border-right: 0;
}

@media screen and (min-width: 800px) {
    
    .expandedFilterItem {
        border-right: 1px solid lightgrey;
        border-bottom: 0;
    }
}