
.logo {
  display: inline;
  margin: 1rem 0;
}

.heading {
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}